main {
    width: 1440px;
}
.main__first {
    position: relative;
    width: 100%;
    height: 110vh;
}
div {
    position: absolute;
}
.triangle {
    top: 7%;
    left: 7%;
    width: 0;
    height: 0;
    margin: 10px;
    border-right: 140px solid transparent;
    border-bottom: 230px solid #0034EB;
    border-left: 140px solid transparent;
    transform: rotate(25deg);
}
.circle {
    top: 30%;
    left: 12%;
    width: 355px;
    height: 355px;
    background-color: black;
    border-radius: 50%;
}
.rec {
    top: 35%;
    left: 20%;
    height: 25px;
    width: 620px;
    background-color: #ED0000;
    transform: rotate(-30deg);
}
.square {
    bottom: 25%;
    left: 25%;
    background-color: #FFE600;
    width: 100px;
    height: 100px;
    transform: rotate(30deg);
}
.rec__blue,
.rec__blue__two {
    background-color: #0034EB;
    transform: rotate(45deg);
    width: 300px;
    height: 15px;
}
.rec__blue {
    left: 38%;
    top: 28%;
}
.rec__blue__two {
    left: 44%;
    top: 25%;
}

.circle__yellow,
.circle__yellow__small {
    border-radius: 50%;
    background-color: #FFE600;
}
.circle__yellow {
    top: 29%;
    right: 34%;
    z-index: -1;
    width: 90px;
    height: 90px;
}
.circle__yellow__small {
    width: 70px;
    height: 70px;
    top: 6%;
    right: 13%;

}
.triangle__small {
    width: 0;
    height: 0;
    margin: 10px;
    bottom: 32%;
    left: 50%;
    border-right: 65px solid transparent;
    border-bottom: 105px solid #0034EB;
    border-left: 65px solid transparent;
    transform: rotate(86.74deg);
}
.rec__red {
    bottom: 26%;
    left: 45%;
    width: 315px;
    height: 100px;
    background-color: #ED0000;
    transform: rotate(0.96deg);
}
.line__down,
.line__top {
    width: 400px;
    height: 5px;
    background-color: #000000;
    transform: rotate(-30deg);
}
.line__down {
    bottom: 18%;
    left: 28%;
}
.line__top{
    width: 250px;
    top: 16%;
    right: 14%;
}
.rec__blue__small {
    right: 15%;
    bottom: 55%;
    width: 140px;
    height: 40px;
    background: #0034EB;
    transform: rotate(-20deg);
}
.square__black {
    bottom: 45%;
    right: 20%;
    width: 150px;
    height: 150px;
    background-color: #000000;
    transform: rotate(45deg);
}
.circle__down {
    bottom: 15%;
    right: 25%;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-color: #000000;
}
.main__sec {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.yellow__square {
    background-color: #FFE600;
    height: 200px;
    width: 200px;
    position: relative;
}
.yellow__square__sec {
    margin-top: 150px;
}
.yellow__square__th {
    margin-top: 300px;
}
/*
.main__sec {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.main__section section {
    position: absolute;
}
.main__section__blue {
    background-color: #0034EB;
}
.main__section__red {
    background-color: #ED0000;
}
.main__section__white {
    background-color: #fff;
}
*/

.main__sec {
    position: relative;
}

.main__third{
    position: relative;
    margin-top: -36%;
    margin-left: 42%;
    height: 150px;
    width: 230px;
    background-color:black;
}
.main__white__circ {
    position: relative;
    margin: 0 auto;
    margin-top: -32%;
    width: 40vw;
    height: 80vh;
}
.circle__white {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    opacity: 0;
    margin-left: 45%;
}
